<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <h1>Welcome to NotaCine, <%= @user.username %></h1>
    <p>We hope that you will like using our website. Here is a little guide to help you.</p>

    <ul>
        <li>The review system might look weird at first, but it has been made this way to suit you better. You will soon be able to understand and use it to find your next favorite movie.</li>
        <li>When looking at the review, you will see a few rating points. For each one of them, there is a slider that indincates if the movie is ahead (or behind) of the industry's standards.</li>
        <li>You will find 6 criteria to search in. Find the one (or a few) that matters the most to you, and filter the website database to your taste.</li>
        <li>You can access your profile by clicking the profile button in the navigation bar. There, you can see all of your past reviews, add a profile picture or change your username. You can also access other reviewer's profile and see what they thought about the movies they reviewed</li>
    </ul>

    <p>See you soon on <%= link_to "NotaCine.com", "https://notacine.herokuapp.com" %></p>

</body>
</html>