<% @movies.each do |movies| %>
  <div class="col-6 col-sm-6 col-md-3 poster-movies">
    <%= link_to movie_path(movies.id) do %>
      <%= image_tag movies.image_url, alt: movies.title, :class => "img-grid frontside" %>
    <% end %>   
  </div>
<% end %>