	<h1 class="text-center text-white">Check the relative scale notation of a movie</h1>
	<%= link_to "How to read a relative rating ?", statics_how_path %>
  <div class="search-bar-border">
		<%= render "layouts/search_bar" %>
	</div>