<div class="container my-4">
	<div class="container-welcome">
	<h1 class="text-white text-center">Welcome <%=current_user.username%>&nbsp;!</h1>
	<h2 class="text-primary text-center">How it works&nbsp;?</h2>
	<p class="text-white">Each cursor indicates according to its position if the film offers a work in the average of the films released in recent years.</p>
	<p class="text-white">We wish to inform the spectator of if a film shows more accentuated work than the average or if, on the contrary, it is behind on a criterion.</p>

	<%= link_to "Whole concept", statics_how_path %>

	</div>
</div>

<div class="search-bar-border">
	<%= render "layouts/search_bar" %>
</div>