<%= render 'welcome' %>

<section id="last-added" class="pb-5">
  <div class="container card-movies-index">
  <p class="h1">Last added</p>
    <div class="row card-movies-row ">
      <% Movie.last_four.each do |movie| %>
        <%= render 'movies_list', movie: movie %>
      <% end %>
    </div>
  </div>
</section>

<section id="last-notation" class="pb-5">
  <div class="container card-movies-index">
  <p class="h1">Last notacine reviews</p>
    <div class="row card-movies-row">
      <% Notation.last_notacine_notations.each do |movie| %>
        <%= render 'movies_list', movie: movie %>
      <% end %>
    </div>
  </div>
</section>

<section id="all_movies" class="pb-5">
  <div class="container card-movies-index">
  <p class="h1">All movies</p>
    <div class="row card-movies-row">
      <% @movies.each do |movie| %>
        <%= render 'movies_list', movie: movie %>
      <% end %>
    </div>
  </div>
</section>