<%= render 'welcome' %>

<section id="last-added" class="pb-5">
  <div class="container card-movies-index">
  <h1>Last added</h1>
    <div class="row card-movies-row ">
      <%= render 'last_added_movies' %>
    </div>
  </div>
</section>


<section id="last-notation" class="pb-5">
  <div class="container card-movies-index">
  <h1>Last notation</h1>
    <div class="row card-movies-row">
      <%= render 'last_notation_movies' %>
    </div>
  </div>
</section>


<section id="all_movies" class="pb-5">
  <div class="container card-movies-index">
  <h1>All movies</h1>
    <div class="row card-movies-row">
      <%= render 'all_movies' %>
    </div>
  </div>
</section>