<div class="container text-white">
  <div class="row">
    <div class="col mx-auto profile-container">
      <div class="row">
        <div class="col-2">
          <img src="https://i.goopics.net/ed4gK.png" alt="avatar" style="width:150px;">
        </div>
        <div class="col-10 userinfo-section">
          <p class="h2"><strong><%= @user.username %></strong></p>
          <p> <%= button_to "Edit profile", edit_user_registration_path, :method => "get", class: "btn btn-secondary btn-sm" %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col review-secion">
          <p>Last reviews</p>
          <div class="row">
            <div class="col-4">
              <ul>
                <li><a href="#">TITLE</a></li>
              </ul>
            </div>
            <div class="col-8">
              <p>TITLE</p>
              <p>PICTURE</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col comments-section">
          <p>Last comments</p>
        </div>
      </div>
    </div>
  </div>
</div>
