<div class="container contact">
	<div class="container-contact">
		<h1>Contact NotaCine !</h1>
		<h2>How can we help you ?</h2>
		<i class="far fa-envelope"></i>
		<p>Bla</p>
		<%= mail_to "contact@notacine.com", 'Submit an email' %>
	</div>
</div>