<div class="container">
	<div class="container-contact p4 text-center mt-4">
		<h1>Contact NotaCine</h1>
		<hr>
		<p>We’d love to hear from you regarding any aspect of NotaCine</p>
		<i class="far fa-envelope"></i>
		<%= mail_to "contact@notacine.com", 'Submit an email' %>
	</div>
</div>