<div class="container contact">
	<div class="row">
		<div class="col-md-3" id="column-md-3">
			<div class="contact-info">
				<i class="far fa-envelope fa-3x"></i>
				<h2>Contact Us</h2>
				<h4>We would love to hear from you !</h4>
			</div>
		</div>
			<div class="col-md-9"  id="column-md-9">
				<div class="contact-form">
					<div class="form-group">        
						<div class="col-sm-offset-2 col-sm-10">
						<%= mail_to "contact@notacine.com", 'Submit an email' %>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>