<div class="container my-auto">
	<div class="container-how p4 mx-auto my-4 nota-rate">
    <h1>How it works?</h1>
    <hr>
    <h2>How to understand our way of rating?</h2>
    <h3>Cursor more to left?</h3>
    <input value="25" disabled="disabled" min="0" max="100" type="range" class="range-example">
    <p>A cursor placed more to the left will indicate that the film is below what we can typically see in films of the same categories recently released. But that doesn't mean the movie will be bad for you!</p>
    <h3>Cursor more to right?</h3>
    <input value="75" disabled="disabled" min="0" max="100" type="range" class="range-example">
    <p>A cursor placed rather to the right will indicate that the movie is perhaps better in quality, innovation or risky choices. But that doesn't mean the movie will be good for you!</p>
    <h3>Cursor in the middle?</h3>
    <input value="50" disabled="disabled" min="0" max="100" type="range" class="range-example">
    <p>A cursor placed rather in the center will indicate that the movie is of a similar quality than others recent movies (on that criterion). This usually means that the film does not stand out. Neither good nor bad. Maybe a little bland. <strong>See for yourself!</strong></p>
    <h2>Don't agree with us?</h2>
    <p>You can evaluate every movie on our website. Just visit a movie page and click on <span class="bold">Review this movie</span>.</p>
    </div>
	<div class="container-how p4 mx-auto my-4">
    <h1>The Whole Concept</h1>
    <hr>
    <h2>How to find a good movie?</h2>
    <p>Before seeing a film, part of the audience will rely on its popularity, criticism or rating.</p>
    <h2>Should movies be rated?</h2>
    <p>Or rather what should the rate look like? Current rating systems are not suitable for movies anymore, here's why:</p>
    <p>Cinema and VOD services are industry products. Are the most watched movies the best? Overall, the mass distribution mechanisms will influence the choice of the viewers. This choice goes beyond artistic analysis and this is what keeps the film industry alive. Whether we like it or not.</p>
    <h2>The choice problem</h2>
    <p>A fast choice between two movies, based on neutral criterias without any spoils of their qualities should be possible. And that's why reviews are essentials for the spectators. Our system of notation is compatible with the 'traditional' reviews, and we think that a good, thorough review can (and should) be enjoyed when a movie has already been seen.</p>
    <p>Even if they often are great, thorough movie reviews aren't really a great way to discover films. The main reasons are that they often are pretty lengthy and also that theses reviews may remove that "discovering" part of a movie.</p>
    <h2>The relative notation is a solution</h2>
    <p>Our way of rating movies might be the solution to the current notation system. Because the qualitative analysis is often too extensive to tell if a movie is good or not, and even the idea of a good or a bad movie is really abstract. Because all viewers have different feelings about a movie and globally unique tastes. Because of that, we made NotaCine. A new, different way to rate movies.</p>
    <p>The Revenant with Leonardo Dicaprio has an underdeveloped storyline (when comparing it with the norm) but actually provides better visuals. The Departed by Martin Scorsese has a complex and elaborate script but its imagery does not stand out from the norm. We do not judge the quality but the care taken on a criterion relative to recent films. Therefore, you will no longer choose a movie because it's good, but because some particular care has been taken on some point(s). Expressing a negative judgment on a work might deter a viewer who would have liked it, and we don't want that.</p>
    <p>Thanks for scrolling.</p>
  </div>
</div>
