<div class="container bg-light">
  <h1>How to read a relative rating ?</h1>
  <h2>How to read our ratings?</h2>
  <p>A cursor placed more to the left will indicate that the film is below what we can generally see in films of the same categories recently released.
But that doesn't mean the movie will be bad for you !</p>
  <p>A cursor placed rather to the right will indicate that the film is perhaps better in quality, innovation or risk taking choices.
But that doesn't mean the movie will be good for you !</p>
  <p>A cursor placed rather in the center will indicate to you that the film is similar to others in the same categories recently released. This usually means that the film does not stand out. Neither good nor bad. Maybe a little bland. It's up to you !</p>
  <h2>Not agree with us ?</h2>
  <p>You can rate every movie on our database. Just visit a movie page and click on Rate.</p>
</div>