<section class="team-area pb-100 pt-100" id="team">
  <div class="container">
    <div class="row section-title">
      <div class="col-md-6 text-right">
        <h3><span>who we are?</span> creative team</h3>
      </div>
      <div class="col-md-6">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry typesetting industry.d </p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <div class="single-team">
            <img src="http://infinityflamesoft.com/html/halim-preview/assets/img/team/1.jpg" alt="">
            <div class="team-hover">
            <div class="team-content">
              <h4>Day Sy <span>web developer</span></h4>
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single-team">
            <img src="http://infinityflamesoft.com/html/halim-preview/assets/img/team/2.jpg" alt="">
            <div class="team-hover">
            <div class="team-content">
              <h4>Matteo Siddi <span>web developer</span></h4>
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single-team">
            <img src="http://infinityflamesoft.com/html/halim-preview/assets/img/team/3.jpg" alt="">
            <div class="team-hover">
            <div class="team-content">
              <h4>Benjamin Anezo <span>web developer</span></h4>
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single-team">
            <img src="http://infinityflamesoft.com/html/halim-preview/assets/img/team/3.jpg" alt="">
            <div class="team-hover">
            <div class="team-content">
              <h4>Kevin Zugasti <span>web developer</span></h4>
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>