.btn-primary {
	color: #fff !important;
  background-color: #e84335 !important;
  border-color: #e84335 !important;
}

.btn-primary:hover {
	color: #fff !important;
  background-color: #cc3b2f !important;
  border-color: #cc3b2f !important;
}
.btn-success {
	color: #fff !important;
  background-color: #34a853 !important;
  border-color: #34a853 !important;
}

.btn-success:hover {
	color: #fff !important;
  background-color: #2c8e46 !important;
  border-color: #2c8e46 !important;
}
.btn-info {
	color: #fff !important;
  background-color: #4285f4 !important;
  border-color: #4285f4 !important;
}

.btn-info:hover {
	color: #fff !important;
  background-color: #3b77db !important;
  border-color: #3b77db !important;
}
.btn-warning {
	color: #000 !important;
  background-color: #fbbc04 !important;
  border-color: #fbbc04 !important;
}

.btn-warning:hover {
	color: #000 !important;
  background-color: #e1a904 !important;
  border-color: #e1a904 !important;
}
.btn-danger {
	color: #fff !important;
  background-color: #e84335 !important;
  border-color: #e84335 !important;
}

.btn-danger:hover {
	color: #fff !important;
  background-color: #cc3b2f !important;
  border-color: #cc3b2f !important;
}

.btn-outline-primary {
  color: #e84335 !important;
  background-color: none !important;
  border-color: #e84335 !important;
}

.btn-outline-primary:hover {
	color: #fff !important;
  background-color: #cc3b2f !important;
  border-color: #cc3b2f !important;
}
.btn-outline-success {
  color: #34a853 !important;
  background-color: none !important;
  border-color: #34a853 !important;
}

.btn-outline-success:hover {
	color: #fff !important;
  background-color: #2c8e46 !important;
  border-color: #2c8e46 !important;
}
.btn-outline-info {
  color: #4285f4 !important;
  background-color: none !important;
  border-color: #4285f4 !important;
}

.btn-outline-info:hover {
	color: #fff !important;
  background-color: #3b77db !important;
  border-color: #3b77db !important;
}
.btn-outline-warning {
  color: #fbbc04 !important;
  background-color: none !important;
  border-color: #fbbc04 !important;
}

.btn-outline-warning:hover {
	color: #000 !important;
  background-color: #e1a904 !important;
  border-color: #e1a904 !important;
}
.btn-outline-danger {
  color: #e84335 !important;
  background-color: none !important;
  border-color: #e84335 !important;
}

.btn-outline-danger:hover {
	color: #fff !important;
  background-color: #cc3b2f !important;
  border-color: #cc3b2f !important;
}