.comments-card {
    background-color: #353A40;
    color: #e4e6eb;
    border-radius: 0.3em;
}

.comments-area {
    margin-top: 20px;
    resize: none;
    border-radius: 0.3em;
    width: 100%;
    height: 150px;
}

.nickname {
    color: #e84335 !important;
    padding: 12px 1px 12px 12px;
    font-size: 1.2em;
}

.fa-check-circle {
    color: #e84335;
}

.comments-avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.btn-right {
	display: block !important;
	margin: 0.4em;
	margin-left: auto;
}
