.card-d {
  margin-top: 50px;
  margin-bottom: 50px;
  padding:25px 20px 20px 20px;
  background-color: #F3F3F3;
  border-radius: 0.3em;
}

#login-card {
  width: 370px;
}

#forgotpass-card {
  width: 420px;
}

#hr-new {
    border: none;
    border-top: 1px solid #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

#hr-new:after {
    background: #fff;
    content: 'New to NotaCine ?';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

#edit-profil {
  border: solid 1px;
  border-radius: 0.3em;
  border-color: #292c32;
  margin: 10px;
  padding: 20px;
  background-color: #F3F3F3;
}
