footer {
    border-top: 1px solid #ffffff50;
    margin-top: auto;
}
footer ul {
    list-style-type: none;
}
footer li {
    white-space: nowrap;
}

footer a{color:#e84335!important;}
footer a:hover{color:#cc3b2f!important;}

.brand-img-responsive{width: 35px;}

.brand-footer{
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}