body{
	font-family: 'Sen',
	sans-serif;
	padding-top: 61px;
	display: flex;
	height: 100%;
	flex-direction: column;
	background: #343a40!important;
}
nav li a{
	font-size: 1.2em;
}
#hr-gradient{
  background: linear-gradient(to right, #e84335, #fff);
  height: 1px;
}
.rounded-nota {
  border-radius: 1rem!important;
}
.bg-dark{ background-color:#202327 !important; }
