body{
	font-family: 'Sen',
	sans-serif;
	padding-top: 61px;
	display: flex;
	height: 100%;
	flex-direction: column;
	background: #202327 !important;
}

a{color:#212529!important;}
a:hover{color:#e84335!important;}

nav li a{
	font-size: 1.2em;
}
#hr-gradient{
  background: linear-gradient(to right, #e84335, #fff);
  height: 1px;
}
.rounded-nota {
  border-radius: 1rem!important;
}

.btn-primary {
	color: #fff;
  background-color: #e84335 !important;
  border-color: #e84335 !important;
}

.btn-primary:hover {
	color: #fff;
  background-color: #cc3b2f !important;
  border-color: #cc3b2f !important;
}
.bg-dark{ background-color:#202327 !important; }

.dropdown-menu{background-color: #353a40 !important;}
.dropdown-item{ color: #fff !important;}