
section {
    padding: 60px 0;
}

section .section-title {
    margin-top: 0px;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.image-flip:hover {
    z-index: 1;
}

.image-flip:hover .mainflip {
    width: 175%;
    transition: 1s;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 0.5s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 0px;
    padding: 0px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background:rgb(65, 65, 65);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.frontside, .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.5s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.5s;
    -o-transform-style: preserve-3d;
    -ms-transition: 0.5s;
    -ms-transform-style: preserve-3d;
    transition: 0.5s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    text-align: center;
    border: none;
    background:rgb(65, 65, 65);

}

.backside .card {
    font-size: 18px;
    width: 305px !important;
    height: 586px !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    margin-top: 0px;
    margin-bottom: .5rem;
}

.frontside .card .card-body img {
    width: 203px !important;
    height: 300px !important;
    border: none;
}

.card-movies-index .card-body {
    padding: 0px;
}

#search-bar-index {
    text-align: center;
    margin-top: 10px;
    color: #e84335!important;
}

#search-bar-index a {
    color: #e84335!important;
}

.btn-transparent-pading {
    padding-top: 1px !important;
}

#search-bar-border input {
    border-radius: 0.6rem !important;
    border: none;
    padding-left: 16px;
    width: 300px;
}

#search-bar-border {
    padding-top: 10px;
}

.card-movies-index {
    color: #fff !important;
}

.card-movies-index p {
    padding-left: 16px;
}

.card-movies-index h2 {
    font-size: 1.5em;
}

.card-movies-index d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.card-movie-logo {
    height: 30px;
}

.fa-users {
    font-size: 1.75em;
    display: block;
    margin-bottom: 1em;
}

.nota-rate input[type="range"],
.nota-user input[type="range"] {
    width: 100%;
    margin: 5px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

.nota-rate label,
.nota-user label {
    font-size: 1em;
    width: 120px;
    height: 20px;
}

.forming {
    width: 120px;
    height: 443px;
}

.card-movies-index .vertical-divider {
    border-left: 1px solid #202327 !important;
    height: auto;
    margin: 0 2em;
}

.card-movies-index btn-outline-primary {
    width: 80px;
    height: 21px;
}

.margin_movie {
    margin-left: 10px;
    margin-right: 10px;
}

.d-grid {
    display: grid;
    grid-gap: 1em;
}