section {
    padding: 60px 0;
}

.poster-movies {
    padding: .5em !important;
    max-width: 260px !important;
    max-height: 353px !important;
    min-height: 257px !important;
    overflow: hidden;
}

.card-movies-row {
    margin-left: -8px !important;
}

.card-movies-index h1 {
    color:  #e4e6eb;
    font-size: 1.5rem;
}

/*=====================================*/

@media (min-width:1200px) {
    .item_3 {
        height: 345px !important;
    }
}

@media (min-width: 992px) {
    .overlay_item {
        position: relative;
    }

    .overlay_item  > img {
        display: block;
    }

    .item_content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        padding-top: 5em;
        flex-direction: column;
        font-family: Sans-serif;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        text-shadow: 0 0 5px black;
        transition: .4s ease all;
        opacity: 0;
    }

    .item_content:hover,
    .item_content:focus-within {
        opacity: 1;
    }

    .item_title h2 {
        margin-bottom: 1.7em;
        font-size: 1.1em;
        font-weight: bold;

    }

    .item_title span {
        display: block;
        font-size: .8em;
        font-weight: normal;
    }

    .item_see_more {
        color:  #e4e6eb !important;
    }

    .badge-secondary {
        color:  #e4e6eb !important;
        text-shadow: none;
        margin-bottom: 2em;
    }

    .item_3 {
        color:  #e4e6eb;
        overflow: hidden;
        height: 322px;
    }

    .item_3 .item_content {
        background: radial-gradient(rgba(0,0,0,.7), black);
    }

    .item_see_more_wrapper .btn-outline-primary {
        color: #e84335 !important;
        border-color: #e84335 !important;
        background-color: transparent !important;
    }

    .item_see_more_wrapper .btn-outline-primary:hover {
        color: #fff !important;
        background-color: #e84335 !important;
    }

    .img-grid {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .item_content {
        display: none;
    }

    .item_3 {
        overflow: hidden;
        height: 235px;
    }

    .img-grid {
        object-fit: cover;
        max-height: 100%;
        min-height: auto;
    }
}

@media (max-width: 768px) {
    .item_content {
        display: none;
    }

    .item_3 {
        height: 360px;
    }
}

@media (max-width: 575px) {
    .item_content {
        display: none;
    }

    .img-grid {
        width: 100%;
    }

    .item_3 {
        height: 96%;
    }

    .poster-movies {
        min-height: auto !important;
    }
}
