.img-grid {
    max-width:100%;
    display:block;
    height:auto;
    max-height: 368px;
    min-height: 247px;
}

.poster-movies {
    padding: .5em !important;
}

.card-movies-index h3 {
    color: white;
}

.size-me {

}