.dropdown-login{ order: 1; }
nav{background:#20232790 ;border-bottom: 1px solid #ffffff50;}
.navbar-nav{margin-right: auto; }
.navbar-nav li { text-align: center; }

.navbar input:first-child{
	border: none;
	border-radius: 0.6rem;
	width: 200px;
	height: 34px;
	padding: 0 1em;
	transition: 0.2s;
}
/*.website-search:hover{ border: none; border-radius: 1rem; width: 260px; padding: 0; }*/
.navbar input:first-child:focus{
	border: none;
	border-radius: 0.6rem !important;
	width: 260px;
	padding: 0 1em;
}

@media (max-width: 768px) {
.dropdown-login {
	order: 0;
	justify-content: flex-end;
	flex-grow: 1;
	display: flex;}

.collapse, .collapsing{ display: flex; flex-direction: column-reverse; align-items: center; }
.navbar-nav{ margin-right: 0px;}
.navbar-brand{flex-grow: 1;}
.dropdown-signed{flex-grow: 0;}
}

.brand-img{
	width: 95px;
	height: 22px;
}

.nav-avatar{
	width:30px;
	height:30px;
	border-radius: 50%;
}
