.container-search{
  max-width: 850px;
  background: #353A40;
  padding: 1em 2em 2em 2em !important;
  color: #e4e6eb!important;
  margin-bottom: 2em;  
}
.container-search .control{
  display: block;
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  font-size: 16px;
  height: fit-content;
  text-shadow: #0000007a 0 0 3px;
  margin: 0;
}
.container-search .control_indicator{
  position: absolute;
  top: 5px;
  left: 9px;
  height: 15px;
  width: 15px;
  background: #e4e6eb;
  border: 1px solid #6d757d;
  border-radius: 50%;
}
.container-search ul{
  font-weight: 600;
  display: grid;
  grid-gap: .5em 2em;
  border: 1px solid #66686b;
  padding: 1em;
}
.container-search ul li{
  list-style-type: none;
  border-bottom: 1px solid #66686b;
}
.container-search ul li a{
  font-size: 1.5em;
  font-weight: 600;
}
.container-search h2{
  font-size: 1em;
  font-size: 1em;
  margin: 1.7em 0 .8em 0;
}
.container-search hr{
  border-top: 1px solid rgb(102, 104, 107) !important;
}
.container-search-bar{
  border-radius: 1em;
  padding: 0.2em 0.8em;
  border: none;
}
.container-search .btn-primary{
  border-radius: 1em;
  padding: 0.2em 1em;
  font-size: 1.2em;
  display: block;
  margin: 0 auto .8em auto;
}

.container-search .control-group{
  margin-bottom: 1em;
  font-weight: normal;
  display: grid;
  grid-gap: 0 1em;
  border: 1px solid #66686b;
  padding: .5em;
}

@media (max-width:390px){
  .container-search .control-group{
    grid-template-columns: 1fr;
  }
}
@media (min-width:391px){
  .container-search .control-group{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width:992px){
  .container-search .control-group{
    grid-template-columns: 1fr 1fr 1fr;
  }
}