.container-team{
	background: #353A40;
	border-radius: 0.3em;
	padding: 2em;
	color: #e4e6eb!important;
}
.container-team hr{border-top: 1px solid rgb(102, 104, 107) !important;}
.container-team .fa-github, .fa-codepen{color: #e84335; font-size: 1.5em;padding: 0.3em;}
.container-team a:hover{color: #cc3b2f;}
.container-team h1{
	text-align: center;
}
.container-team h2{
	font-size: 1.1em;
	color: #e84335;
}
.container-team h3{
	font-size: .9em;
	font-weight: normal;
}
.container-team ul{
	margin: 0;
	padding: 0;
	display: grid;
}
.container-team li{
	list-style-type:none;
	text-align: center;
}
@media (max-width:576px){
	.container-team ul{
		grid-template-rows: 1fr 1fr 1fr 1fr ;
		grid-gap: 1em;
	}
}
@media (min-width:577px){
	.container-team ul{
		grid-template-rows: 1fr 1fr ;
		grid-template-columns: 1fr 1fr ;
		grid-gap: 1em;
	}
}
@media (min-width:992px){
	.container-team ul{
		grid-template-rows: 1fr ;
		grid-template-columns: 1fr 1fr 1fr 1fr ;
	}
}
