.profile-container {
  border: solid 2px;
  border-color: red;
  padding-top: 20px;
  margin-top: 20px;
}

.userinfo-section {
  border: solid 2px;
  border-color: rgb(56, 150, 37);
  padding: 50px;
}

.review-section {
  border: solid 2px;
  border-color: rgb(28, 251, 233);
}

.image-shape {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}
