.profile-container {
  border: solid 2px;
  border-color: red;
  padding-top: 20px;
  margin-top: 20px;
}

.userinfo-section {
  border: solid 2px;
  border-color: rgb(56, 150, 37);
  padding: 50px;
}

.review-secion {
  border: solid 2px;
  border-color: rgb(28, 251, 233);
}

.comments-section {
  border: solid 2px;
  border-color: rgb(124, 37, 150);
  padding: 50px;
}
