<section id="movies" class="pb-5">
  <div class="container">
    <div class="row">
		<% @movies.each do |movies| %>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
					<div class="mainflip">
						<div class="frontside">
							<div class="card">
								<div class="card-body text-center" id="remove-padding-boostrap">
									<img src="<%= movies.image_url %>">
								</div>
							</div>
						</div>
						<div class="backside">
							<div class="card">
								<div class="card-body text-center mt-4">
									<h4 class="card-title"><%= movies.title %></h4>
									<ul class="p-0">
										<li>slider 1</li>
										<li>slider 2</li>
										<li>slider 3</li>
										<li>slider 4</li>
										<li>slider 5</li>
										<li>slider 6</li>
									</ul>
                </div>
            	</div>
            </div>
          </div>
        </div>
      </div>
		<% end %>
    </div>
  </div>
</section>