
<footer class="grid-container text-white bg-secondary grid-footer p-4 ">
<div class=" row align-items-start">
  <ul class="col">
    <li>
      <p class="navbar-brand text-white flex-grow-1 rocknroll" href="/">© NotaCine <i class="fas fa-cat"></i></p>
    </li>
  </ul>
  <ul class="col">
    <li class="font-weight-bold">
      Support
    </li>
    <li>
      <%= link_to "Contact us", class:"text-white" %>
    </li>
    <li>
      <%= link_to "Privacy policy", class:"text-white" %>
    </li>
  </ul>
  <ul class="col">
    <li class="font-weight-bold">
      About
    </li>
    <li>
      <%= link_to "How does it works ?", class:"text-white" %>
    </li>
    <li>
      <%= link_to "Our team", class:"text-white" %>
    </li>
  </ul>
  </div>
</footer>